/* 
selector{
    propiedad: valor; 
    propiedad: valor; 
    propiedad: valor; 

}
*/


:root {
    --amarillo: #f8d941;
    --rosa: #fd9f9d;
    --naranja: #fe7748;
    --gris: #cbd6c8;
    --azul: #70b0b0;
    --verdeO: #333e30;
    --negro: #000000;
    --blanco: #ffffff;


}


/*******************************************************************************BODY**************************************/

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--gris) !important;

}

html {
    scroll-behavior: smooth;
}


/**************************HEADER*******************************************************************************************/
header {
    width: 100%;
    height: 30px;
    background-color: var(--negro);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.titulo {
    color: var(--blanco);
    font-family: 'Lilita One', cursive;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;



}

/*******************************************************************************NAVEGACION**************************************/

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.index {
    background-color: var(--gris);

}

.nav-principal {
    display: flex;
    flex-direction: column;


}


@media (min-width: 768px) {
    .nav-principal {
        flex-direction: row;
        justify-content: space-around;
    }


}

.nav-principal a {
    display: block;
    text-align: center;
    /*font-family: 'Kaisei Tokumin', serif;*/
    font-family: 'Yeseva One', cursive;
    color: var(--verdeO);
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1rem;

}

.nav-principal a:hover {
    border-radius: 50%;
    background-color: var(--verdeO);
    color: var(--blanco);
}



/**************************************ENCABEZADO*******************************************************************************/



.bann {
    width: 100%;
    height: 75vh;
    background-color: var(--amarillo);
    /* Centrar verticalmente el contenido */
    position: relative;
    padding: 0;
    margin: 0;


}

.banner {
    padding: 40px 15%;
    height: 65vh;
}

.banner-text {
    position: absolute;
    height: 65vh;
    font-family: 'Berkshire Swash', cursive;



}

.banner-text h3 {
    width: 54%;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 2px;
    color: var(--verdeO);


}

.banner-text h2 {
    margin-left: 5px;
    font-size: 140px;
    margin-top: 6px;
    margin-bottom: 3px;
    color: #ffffff;
}

#btn {
    width: 170px;
    height: 65px;
    font-weight: bold;
    background-color: #000000;
    letter-spacing: 5px;
    color: var(--amarillo);
    border-radius: 35px;
    border: none;
    cursor: pointer;
    font-family: 'Yeseva One', cursive;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 140px;


}

#btn:hover {
    background-color: var(--rosa);
    color: var(--verdeO);
}

.perro-salchi {
    position: absolute;
    width: 550px;
    right: 8%;
    top: 5%;
    bottom: 0;
    z-index: 1;

}

.figura {
    width: 550px;
    height: 580px;
    position: absolute;
    left: 54%;
    top: -20px;
    padding: 0;


}




/*********************************************************************************************************************/

.p-bann {
    height: 85%;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    background-color: var(--verdeO);
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-bann p {
    height: 65%;
    padding: 15px 20px;
    margin: 0 10%;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.about-car {
    padding: 0;
    margin: 0;
    height: 70px;
    display: grid;
    place-items: center;
    border-radius: 60px;
}

#about {
    color: var(--verdeO);
    font-family: 'Lilita One', cursive;
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 70px;
    margin-bottom: 0 0;

}

/**************************************CARACTERISTICAS*******************************************************************************/
#p-car {
    background-color: var(--rosa);
    font-family: 'Berkshire Swash', cursive;
    width: 100%;
    height: 680px;
    padding: 30px;
    display: grid;
    place-items: center;
}

#caracteristicas {
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin-left: 10%;
    color: var(--verdeO);
    margin-bottom: 30px;

}

.div-car {
    left: 400px;
    height: 550px;
    max-width: 100%;

}

.dog {
    position: absolute;
    top: 1272px;
    right: 100px;
    height: 600px;


}

.p-caracteristicas {
    width: 60%;
    margin: 0;
}

.p-caracteristicas li {

    font-family: Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 32px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #000000;
    list-style: none;
    padding-left: 35px;
    background-image: url('images/pata.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;/
}

/**************************************ALIMENTACIÓN*******************************************************************************/
.p-alim {

    background-color: #70b0b0;
    font-family: 'Berkshire Swash', cursive;
    width: 100%;
    height: 550px;
    padding: 30px;
    display: grid;
    place-items: center;
}



#alimentación {
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin-left: 20%;
    color: var(--negro);
    margin-bottom: 30px;
}

.p-alim p {
    width: 650px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: var(--blanco);
    text-align: center;
    line-height: 1.8rem;

}

.eating-img {
    width: 600px;
    background-color: var(--blanco);
    margin: 40px;
    border-radius: 90px;

}


/**************************************RELACIÓN HUMANO-PERRO*******************************************************************************/
#relacion {

    background-color: var(--gris);  
    font-family: 'Berkshire Swash', cursive;
    width: 100%;
    height: 780px;
    padding: 20px;
    display: grid;
    place-items: center;

}

.div-rel {
    display: grid;
    place-items: center;
}

.div-rel h2 {
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
    align-items: center;
    color: var(--verdeO);
    margin-bottom: 30px;
    border-bottom: 2px solid var(--verdeO); 
   
}

.div-rel h3 {
    width: 70%;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: var(--negro);
    text-align: center;
    line-height: 1.8rem;
}


.carousel-item {
    height: 500px;

}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen {
    height: 375px;
    width: auto;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: var(--negro);
    line-height: 1.2rem;
}

/**************************************RAZAS*******************************************************************************/
/**************************************FOOTER*******************************************************************************/
